/* **************************************header************************ */

/* *************************************** body********************* */

.body_principale {
  background-color: rgba(246, 235, 223, 0.628);
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.description h1::before {
  content: ""; /* Code pour le caractère cercle (•) */
  display: inline-block;
  width: 20px; /* Ajustez la taille du cercle selon vos besoins */
  height: 20px; /* Ajustez la taille du cercle selon vos besoins */
  border-radius: 50%;
  background-color: #05ee2c; /* Couleur du cercle */
  margin-right: 10px; /* Espace entre le cercle et le texte */
}

.description h1 {
  margin-left: 120px;
}

.body_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -340px;
}
.card_cv {
  display: flex;
  border: 1px;
  border-radius: 8px;
  height: 320px;
  background-color: white;
  padding: 1px;
  margin-bottom: 50px;
}

.card_cv h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
  margin-top: 40px;
  margin-left: 10px;
}

.card_cv p {
  border: none;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 80px;
  font-size: 22px;
}

.card_cv p br {
  display: block;
  content: "";
  margin-bottom: 8px;
}

.card_cv h4 strong {
  font-size: 24px;
  margin-right: 50px;
}

.card_cv h4 {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 50px;
}

.card_cv span h3 {
  border: none;
  border-left: 3px solid blue;
  height: 320px;
  margin-top: 0px;
  margin-left: 10px;
}

.card_img {
  width: auto;
  height: auto;
  margin-right: 0px;
  border-radius: 0px 6px 6px 0px;
}

.background_img_paire {
  background-color: rgba(209, 195, 184, 0.572);
}

.background_img_impaire {
  background-color: rgba(246, 224, 197, 0.924);
}

/* *********************** responsivité sur les téléphones******************************* */

@media screen and (max-width: 768px) {
 
  .body_card {
    margin-bottom: 0;
  }

  .description h1 {
    margin-left: -10px;
  }
  .card_cv {
    height: auto;
    margin-bottom: 20px;
  }

  .card_cv h2 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .card_cv p {
    margin-top: 50px;
    font-size: 20px;
  }

  .card_cv h4 strong {
    font-size: 20px;
    /* margin-right: px; */
     margin-left: 2px;
     align-items: center;
  }

  .card_cv h4 {
    font-size: 18px;
    /* margin-left: 0; */
    /* margin-right: 0; */
     margin-left: 2px;
     margin-bottom: -20px;
  }

  .card_cv span h3 {
    border: none;
    border-left: none;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .card_img {
    width: 100%;
    height: auto;
    margin-right: 0;
    border-radius: 0;
  }
}

/* *********************** responsivité sur les ordinateurs******************************* */

