/* **************************************header************************ */

/* *************************************** body********************* */

.body_principale {
  background-color: rgba(246, 235, 223, 0.628);
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.description h1::before {
  content: ""; /* Code pour le caractère cercle (•) */
  display: inline-block;
  width: 20px; /* Ajustez la taille du cercle selon vos besoins */
  height: 20px; /* Ajustez la taille du cercle selon vos besoins */
  border-radius: 50%;
  background-color: #05ee2c; /* Couleur du cercle */
  margin-right: 10px; /* Espace entre le cercle et le texte */
}

.description p {
  margin-left: -80px;
  margin-bottom: 30px;
  font-size: 22px;
}

.description h1 {
  margin-left: 120px;
}

.body_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -340px;
}
.card_projet {
  display: flex;
  justify-content: flex-end;
  position: relative;
  border: 1px;
  border-radius: 8px;
  height: 320px;
  background-color: white;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.card_projet h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
  margin-left: 10px;
  font-size: 24px;
  margin-top: 50px;
}

.card_projet p {
  border: none;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  font-size: 22px;
}

.card_projet span h3 {
  border: none;
  border-left: 3px solid blue;
  height: 320px;
  margin-top: 0px;
}

.card_projet img {
  width: 350px;
  height: 280px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  margin-right: 40px;
  margin-top: -95px;
  margin-left: 7px;

}

.card_img {
  width: auto;
  height: 320px;
  margin-right: 0px;
  border-radius: 0px 6px 6px 0px;
   margin-bottom: 200px; 
 
}

.background_img_paire {
  background-color: rgba(209, 195, 184, 0.572);
  width: 370px;
}

.background_img_impaire {
  background-color: rgba(246, 224, 197, 0.924);
  width: 370px;
}

/* *********************** responsivité sur les téléphones******************************* */

@media screen and (max-width: 768px) {

  .description {
    flex-direction: column; /* Afficher la description en colonne sur les téléphones */
    align-items: center; /* Centrer les éléments */
    margin-top: 50px; /* Ajustez l'espace en haut */
  }

  .description h1 {
    margin-left: 0; /* Réinitialiser la marge à gauche */
  }

  .description p {
    margin-left: 0; /* Réinitialiser la marge à gauche */
    text-align: center; 
  }

  .body_card {
    margin-bottom: 0; 
  }

  .card_projet {
    height: auto; 
    margin-bottom: 20px; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .card_projet h2 {
    margin-left: 90px; 
    margin-top: 20px; 
  }

  .card_projet p {
    margin-left: 0; 
    margin-top: 10px; 
    text-align: center; 
  }

  .card_projet img {
    width: 100%; 
    height: 300px; 
    margin: 10px 0; 
    object-fit: cover;
     
  }

  .card_projet span h3 {
  border: none;
  margin-bottom: -280px;
  }
  
  .background_img_paire,
  .background_img_impaire {
    width: 100%; 
    height: auto;
  }
}

/* *********************** responsivité sur les ordinateurs******************************* */
